%p Thank you for your interest on Travnoty.
%br
%p We will let you know when we are ready. And by the way, this is not an unmonitored account, we do read your email if you reply.
%p There is still some work to do but we can assure you, thinks are getting pretty cool.
%p= raw("One last word of advice if you want to keep in touch, follow us on #{link_to 'Twitter @travnoty', 'http://twitter.com/travnoty'} for regular updates.")
%br
%p See you soon...
