/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  margin: 0px;
  background-color: #cfc;
  font: 16px Helvetica, arial, freesans, clean, sans-serif;
  color: #5caf5c;
}

div {
  margin: 0px;
}

h1, h2, h3, h4, p {
  margin: .8em 0em;
}

ul, li {
  display: inline;
}

h1 { font-size: 1.4em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.0em; }
h4 { font-size: 0.8em; }

#messages {
  width: 400px;
}

#flash_alert, #flash_notice {
  padding: 5px 20px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top: 0px;
}

.alert {
  color: #d55;
  background-color: #fcc;
  border: 1px solid #d55;
}

.notice {
  color: #5d5;
  background-color: #fff;
  border: 1px solid #5d5;
}

input, select, textarea {
  font-size: 13px;
  line-height: 1.4em;
}

textarea, input {
  padding: 3px 5px;
  vertical-align: middle;
  border-radius: 3px;
  border-color: #fff;
  &:focus {
    border-color: #9f9;
  }
}

a {
  text-decoration: none;
  font-weight: bold;

  &:link { color: #fff; }
  &:visited { color: #fff; }
  &:hover { color: #363; }
  &:active { color: #fff; }
}

.travnoty-logo {
  float: left;
  display: inline;
  margin-left: -3px;
  padding-top: 2px;
}

.wrap {
  position: relative;
  width: 80%;
  margin: 0 auto;
  min-height: 50px;
  min-width: 760px;
  max-width: 1200px;
}

.center {
  position: relative;
  width: 80%;
  margin: 0 auto;
  float: none;
  clear: both;
}

.content {
  margin-top: 20px;
  max-width: 1200px;
  background-color: #fff;
  padding: 10px 25px;
  border-radius: 8px;
}

.form {
  h2 {
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 6px;
  }

  form {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 6px;
  }

  .control-group {
    width: 100%;
    padding: 10px 10px;
  }

  .control-label {
    padding: 10px 10px;
    width: 200px;
    float: left;
    text-align: right;
  }

  .control {
    border-color: #393;
    min-height: 26px;
  }
}

#header {
  background-color: #494949;
  color: #ffffff;
  height: 50px;
  border-bottom: 1px solid #393;

  a {
    &:hover {
      color: #8cdf8c;
    }
  }

  ul {
    margin: 0px;
    padding: 15px 0px;

    li {
      display: inline;
      padding-left: 15px;
    }
  }

  #nav {
    float: left;

    ul {
      float: left;
      margin-left: 100px;
    }
  }

  ul.sign {
    float: right;
  }
}

#content {
  min-height: 400px;
}

#footer {
  border-top: 1px solid #8cdf8c;
  padding: 10px;
  text-align: center;
}