/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$green: #5caf5c;

html, body {
  margin: 0px;
  background-color: #fff;
  font: 16px Helvetica, arial, freesans, clean, sans-serif;
  color: #666;
}

h1, h2, h3, h4, p {
  margin: .6em 0em;
}

p {
  font-size: 0.7em;
}

a {
  font-size: .9em;
  text-decoration: none;

  &:link { color: #5caf5c; }
  &:visited { color: #5caf5c; }
  &:hover { color: #363; }
  &:active { color: #363; }
}

ul, li {
  display: inline;
  margin: 0px;
  padding: 0px;
}

h1 { font-size: 1.4em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1.0em; }
h4 { font-size: 0.8em; }

input {
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
}

input[type="text"], input[type="email"], input[type="password"] {
  width: 240px;
  min-height: 32px;
  padding: 0px 5px;
  background-color: #fff;
  &:focus {
    border-color: #5caf5c;
    box-shadow: inset 0 1px 6px rgba(0,0,0,0.075), 0 0 5px rgba(160,250,160,0.75)
  }
}

input[type="button"], input[type="submit"], input[type="reset"] input[type="file"] {
  color: #333;
  font-size: 13px;
  padding: 7px 15px;
  width: 120px;
  cursor: pointer;
  &:hover {
    
  }
  &:active {
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.15);
  }
}

label {
  font-size: .9em;
  color: #333;
}

.container {
  width: 920px;
  margin: 0 auto;
}

.clearfix {
  display: block;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.small-container {
  width: 460px;
  margin: 0 auto;
}

.rounded-corners-div {
  border-radius: 8px;
}

#flash {
  padding: 5px 20px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-top: 0px;
}

.error {
  color: #d55;
  background-color: #fcc;
  border: 1px solid #d55;
}

.alert {
  color: #d55;
  background-color: #fcc;
  border: 1px solid #d55;
}

.notice {
  color: #393;
  background-color: #cfc;
  border: 1px solid #393;
}

.control-group {
  margin: 0px 0px 5px;
}

.travnoty-logo {
  float: left;
  display: inline;
  margin-left: -3px;
  padding-top: 2px;
}

#content {
  width: 100%;
  background-image: url(white_wall_hash.png);
  min-height: 360px;
  border-bottom: 1px solid #8cdf8c;
}

#article {
  padding: 1px;
}

#header {
  background-color: #494949;
  color: #ffffff;
  height: 45px;
  border-bottom: 2px solid #393;

  a {
    text-decoration: none;
    //font-weight: bold;

    &:link { color: #fff; }
    &:visited { color: #fff; }
    &:hover { color: #5caf5c; }
    &:active { color: #5caf5c; }
  }

  ul {
    margin: 0px;
    padding: 15px 0px;

    li {
      display: inline;
      padding-left: 15px;
    }
  }

  #nav {
    float: left;

    ul {
      float: left;
      margin-left: 100px;
    }
  }

  ul.sign {
    float: right;
    display: inline-block;
  }
}

#footer {
  padding-top: 10px;
  text-align: right;
}

.button.primary {
  font-size: 16px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #60b044;
  background-image: -moz-linear-gradient(#8add6d, #60b044);
  background-image: -webkit-linear-gradient(#8add6d, #60b044);
  background-image: linear-gradient(#8add6d, #60b044);
  border-color: #5ca941;
  &:hover {
    background-color: #5ba740;
    background-image: -moz-linear-gradient(#82db63, #5ba740);
    background-image: -webkit-linear-gradient(#82db63, #5ba740);
    background-image: linear-gradient(#82db63, #5ba740);
    border-color: #4a993e;
  }
  &:active {
    background-color: #569e3d;
    background-image: none;
    border-color: #418737;
  }
}

.button {
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  background-color: #eaeaea;
  background-image: -moz-linear-gradient(#fafafa, #eaeaea);
  background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
  background-image: linear-gradient(#fafafa, #eaeaea);
  background-repeat: repeat-x;
  border-radius: 3px;
  border-bottom-color: #c5c5c5;
  box-shadow: 0 1px 3px rgba(0,0,0,0.075);
  &:hover {
    background-color: #5ba740;
    background-image: -moz-linear-gradient(#82db63, #5ba740);
    background-image: -webkit-linear-gradient(#82db63, #5ba740);
    background-image: linear-gradient(#82db63, #5ba740);
    background-repeat: repeat-x;
    border-color: #4a993e;
  }
  &:active {
    background-color: #569e3d;
    background-image: none;
    border-color: #418737;
  }
}

.box {
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 300px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.175)
}

.box-header {
  color: #fff;
  padding: 1px 20px;
  background-color: #5ba740;
  background-image: -moz-linear-gradient(#494949, #696969);
  background-image: -webkit-linear-gradient(#494949, #696969);
  background-image: linear-gradient(#494949, #696969);
  background-repeat: repeat-x;
  border-color: #4a993e;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  h2 {
    padding: 0px 0px;
  }
}

.box-content {
  padding: 10px 20px;
  border: 1px solid #696969;
}

.signin .box {
  width: 300px;
}

.reset_password {
  .box {
    width: 300px;
  }

  .button.primary {
    width: 160px;
  }
}

.signup .box {
  width: 300px;
}

.control-group p.error {
  border-top: 0px;
  margin-top: -2px;
  margin-left: 3px;
  padding: 2px 10px;
  width: 160px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
