/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */
//= require_self
//= require servers

.box {
  background: url('linedpaper.png');
  border-radius: 5px;
  margin: {
    top: 20px;
    bottom: 20px;
  }
  padding: 20px;
  h1 {
    font-size: 130%;
  }
}

.transparent_box {
  background: #ffffff;
  opacity: 0.7;
  border-radius: 5px;
  h1 {
    opacity: 1;
  }
}

.right {
  float: right;
}

html {
  background: url('background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
  margin: 0;
  margin-top: 30px;
  padding: 0;
  font-family: Verdana, Geneva, 'DejaVu Sans', sans-serif;
  color: #55a72f;

  a {
    color: #ddffbb;
    text-decoration: none;
    &:hover {
      color: #ffffff;
    }
  }

  header {
    nav {
      background-color: #66bb55;
      position: fixed;
      width: 100%;
      top: 0px;
      ul {
        width: 980px;
        margin: 0 auto;
        padding: 8px;
        li {
          display: inline-block;
          color: #ffffff;
          padding-left: 8px;
          padding-right: 8px;
        }
      }
    }
  }

  #content {
    width: 980px;
    margin: 0 auto;
    text-align: left;
  }
}
