th {
  background: #669966;
  color: #ffffff;
  font-size: 1em;
  font-weight: normal;
  padding: 3px 6px;
}
tr {
  margin-bottom: 3px;
}
td {
  background: #aaeeaa;
  padding: 1px 8px;
  font-size: 1em;
}
.flag {
  padding-top: 4px;
  text-align: center;
}
tfoot tr td {
  background: #696;
  color: #fff
}
