- content_for(:title) { 'Pre Subscription' }
%article#article.signup.wall-hash
  .box.container
    .box-header
      %h2 Pre Subscribe
    .box-content.clearfix
      = render partial: 'pre_subscriptions/form'
