- content_for(:title) { 'Pre Subscription successfull' }
%article.welcome.article.pre-subscription.wall-hash
  %section.section
    .container.clearfix
      %h1.heading Thank you for your interest.
      %h2.subheading We'll let you know when we are ready.
      = button_tag 'back', root_url, :class => 'button primary'
