- content_for(:title) { 'Travian Accounts' }
%article.article.profile
  .container.clearfix
    = render partial: 'menu', locals: { :user => @user}
    .box.right.content
      .box-header
        %h1 Travian Accounts
      .box-content
        - if current_user.travian_accounts.empty?
          %p.fade No Travian accounts being monitored yet. Just install the Travnoty Client to get started.
        - else
          - current_user.travian_accounts.each do |account|
            = render partial: 'travian_account', locals: { :account => account }
            %br

